<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<main layout:fragment="content">
<div th:if="${!doneTasks.isEmpty()}">
  <h2 class="fst-italic" >Lista wykonanych zadan:</h2>
  <table class="table table-success table-striped-columns">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Deadline</th>
      <th scope="col">Kategoria</th>
    </tr>
    </thead>
    <tbody th:each="task : ${doneTasks}">
    <tr>
      <th scope="row" th:text="${task.id}"></th>
      <td th:text="${task.name}"></td>
      <td th:text="${task.deadline}"></td>
      <td th:text="${task.category.description}"></td>
    </tr>
    </tbody>
  </table>
  <img class="rounded mx-auto d-block" width="400" alt="done picture" th:src="@{/images/done.png}">
</div>
<p th:if="${doneTasks.isEmpty()}">Lista wykonanych zadan jest pusta</p>
</main>
</html>


